@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Light mode colors */
  --text-color: #111827;
  --bg-color: #ffffff;
}

/* Dark mode colors */
:root.dark {
  --text-color: #f9fafb;
  --bg-color: #374151;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
